# NOTE: This is a basic "EXAMPLE" of your credentials, change them and use new ones

# LocalStack Config
LOCALSTACK_DEBUG=1
AWS_REGION=us-east-1

# Server Config
SERVER_USER=admin
SSH_PORT_1=2221
SSH_PORT_2=2222


# Credentials (Fake for LocalStack)
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
